<md-dialog aria-label="">
    <md-content class="md-padding">

        <form name="userForm">
            <input type="hidden" ng-model="row.id" value="{{row.id}}" />
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input ng-model="row.name" value="{{row.name}}">
            </md-input-container>

            <md-input-container class="md-block">
                <label>Email</label>
                <input ng-model="row.email" value="{{row.email}}" type="email">
            </md-input-container>
            <md-input-container md-no-float class="md-block">
                <label>Address</label>
                <input ng-model="row.address" value="{{row.address}}">
            </md-input-container>

            <div layout="row" layout-sm="column" layout-align="left left" >
                <md-button class="md-raised md-primary"  ng-click="editUser(row)">Save</md-button>
                <md-button class="md-raised md-warn" ng-click="hideDiaglog();">Cancel</md-button>
            </div>

        </form>

    </md-content>

</md-dialog>