<md-content  ng-controller="homeController" flex>
    <md-card>

        <md-data-table-container>
            <table md-data-table class="md-primary" md-progress="deferred">
                <thead md-order="query.order" md-trigger="onorderchange">
                    <tr>
                        <th name="Name"></th>
                        <th name="Email"></th>
                        <th name="Address"></th>
                        <th name ="Action"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users.data | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit">
                        <td>{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.address}}</td>
                        <td>
                            <div layout="row" layout-sm="column" layout-align="left left" >
                                
                                <md-button class="md-raised md-primary"  ng-click="updateUser($event, $index, user);">Update</md-button>
                                <md-button class="md-raised md-warn" ng-click="deleteUser($event, $index, user);">Delete</md-button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{users.count}}" md-trigger="onpagechange"></md-data-table-pagination>
        
    </md-card>
    
        
        
</md-content>

<md-button ng-click="openAdd($event)" class="md-raised md-primary">Create User</md-button>